# Build and Intermediate directories
bin/
obj/

# Packages directory
packages/

# Optional publish output
publish/

# Visual Studio specific files
.vs/
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# Backup and temporary files
*.bak
~$*

# Specific project-related files
UpgradeLog.htm

# Others
*.nupkg
*.snupkg
